{% extends "base.html.twig" %}

{% block title %}
    Best
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Best</h2>

        {% for x in yeti %}
            <div class="yeti justify-content-md-center">
                <h4>{{ x.name }}</h4>
                <p>{{ x.gender }}</p>
                <p>{{ x.height }}</p>
                <p>{{ x.weight }}</p>
                <p>{{ x.rating }}</p>
                <p>{{ x.phoneNumber }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}