{% extends "base.html.twig" %}

{% block title %}
    Yetinder
{% endblock %}

{% block body %}
    {% block header %}
    {% endblock%}
    <header>
        <form action="/user/logout" method="post">
            <input type="submit" value="Odhlásit se">
        </form>
    </header>
    <h2>Yetinder</h2>
    {% if yeti is defined %}
    <div class="random-yeti">
        <table>
            <tr>
                <th style="font-size: 25px">{{ yeti.name }}</th>
            </tr>
            <tr>
                <th>Pohlaví</th>
                <th>Výška</th>
                <th>Váha</th>
                <th>Telefonní číslo</th>
                <th>Hodnocení</th>
            </tr>
            <tr>
                <td>{{ yeti.gender }}</td>
                <td>{{ yeti.height }}</td>
                <td>{{ yeti.weight }}</td>
                <td>{{ yeti.phoneNumber }}</td>
                <td>{{ yeti.rating }}</td>
            </tr>
            <tr>
                <td>
                    <form action="/yetinder/upvote" method="post">
                        <input style="display: none" name="id" type="number" value="{{ yeti.id }}">
                        <input type="submit" value="Upvote">
                    </form>
                </td>
                <td>
                    <form action="/yetinder/downvote" method="post">
                        <input style="display: none" name="id" type="number" value="{{ yeti.id }}">
                        <input type="submit" value="Downvote">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    {% else %}
        <h3>Žádný yeti k hodnocení</h3>
    {% endif %}
{% endblock %}