{% extends "base.html.twig" %}

{% block title %}
    Statistiky
{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}
            <header>
                <h2>Statistiky</h2>
                <form action="/logout" method="post">
                    <input type="submit" value="Odhlásit se">
                </form>
                <a href="/yetinder">Yetinder</a>
                <a href="/login">Přihlásit se</a>
                <a href="/register">Zaregistrovat se</a>
                <a href="/yeti/register">Nový Yeti</a>
                <a href="/stats">Statistiky</a>
                <a href="/">Nejlépe hodnocení</a>
            </header>
        {% endblock %}
        <table id="gender">
            <tr>
                <h3>Pohlaví</h3>
            </tr>
            <tr>
                <th>Celkový počet</th>
                <th>Počet žen</th>
                <th>% Žen</th>
                <th>Počet mužů</th>
                <th>% Mužů</th>
            </tr>
            <tr>
                <td>{{ allYeti }}</td>
                <td>{{ allFemaleYeti }}</td>
                <td>{{ femalePercentage }}</td>
                <td>{{ allMaleYeti }}</td>
                <td>{{ malePercentage }}</td>
            </tr>
        </table>
        <table id="time">
            <tr>
                <h3>Časové statistiky – Reakce</h3>
            </tr>
            <tr>
                <th>Celkově</th>
                <th>Ráno</th>
                <th>% Ráno</th>
                <th>Odpoledne</th>
                <th>% Odpoledne</th>
                <th>Večer</th>
                <th>% Večer</th>
                <th>Noc</th>
                <th>% Noc</th>
            </tr>
            <tr>
                <td>{{ all }}</td>
                <td>{{ morning }}</td>
                <td>{{ morningPercentage }}</td>
                <td>{{ afternoon }}</td>
                <td>{{ afternoonPercentage }}</td>
                <td>{{ evening }}</td>
                <td>{{ eveningPercentage }}</td>
                <td>{{ night }}</td>
                <td>{{ nightPercentage }}</td>
            </tr>
        </table>
    </div>
{% endblock %}